html,
body,
#root {
  height: 100%;
  /* height: calc(100% - 125.97px); */
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Montserrat";
  font-size: 22px;
}
